version: '3.8'

services:
  backend:
    command: gunicorn --bind 0.0.0.0:8000 --timeout 300 core.wsgi:application
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: django_app
    ports:
      - "8000:8000"
    networks:
      - monitoring-net
    env_file:
      - ../.env

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: smartrecipe_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: splsqleap
    networks:
      - monitoring-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./promtail-config.yaml:/etc/promtail/config.yaml:ro
    command: -config.file=/etc/promtail/config.yaml
    networks:
      - monitoring-net
    depends_on:
      - loki


  loki:
    image: grafana/loki:latest
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml:r
      - loki_data:/loki
    ports:
      - "3100:3100"
    networks:
      - monitoring-net

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - backend
    networks:
      - monitoring-net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - monitoring-net

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning:ro
    networks:
      - monitoring-net



networks:
  monitoring-net:
    driver: bridge

volumes:
  loki_data:
  prometheus_data:
  grafana_data:
  postgres_data: